__pycache__/
user_files/
.pytest_cache/
.tox/
.nox/
.ruff_cache/
.mypy_cache/
.idea/
meta.json
dump.log
releases/
release-*.zip
reorder_events.log
profiling_results.txt
events.log
*_temp.anki2
*.anki2-wal
*.tmp.log
cache*.sqlite
*.sqlite-journal
*.db-journal
.coverage
htmlcov/