# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: frequencyman-man-quality-checks
        name: Run FrequencyMan quality checks
        entry: python scripts/test.py --pytest --staged
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
