[project]
name = "FrequencyMan"
requires-python = ">=3.9"

[tool.autopep8]
max_line_length = 200


[tool.pyright]
pythonVersion = "3.9"
typeCheckingMode="strict"
include = ["frequencyman", "tests", "./__init__.py"]
exclude = ["releases", "user_files", "**/tokenizers/*/"]
reportMissingImports = true
reportMissingTypeStubs = true
reportUnusedImport = false
reportUnknownVariableType = false
reportUnknownMemberType = false
reportUnknownArgumentType = false
reportUnknownParameterType = false
reportUnnecessaryIsInstance = false
reportMissingTypeArgument = false
reportImplicitStringConcatenation = true
reportImplicitOverride = true
reportWildcardImportFromLibrary = true

[tool.mypy]
disable_error_code = ["return", "return-value"]
python_version = "3.9"
mypy_path = ["."]
files = ["frequencyman", "tests"]
exclude = ["^releases/", "^user_files/"]
explicit_package_bases = true
namespace_packages = true
follow_imports = "silent"

[[tool.mypy.overrides]]
module = [
  "pytest.*",
  "_pytest.*",
  "anki.*",
]
ignore_missing_imports = true
follow_imports = "skip"
