typing_extensions
anki
aqt
mypy
nox
tox
tox-uv
pytest
pytest-xdist
pytest-sugar
pytest-qt
python-dateutil
PyQt6-stubs; python_version >= "3.10"
pytest-cov
requests
types-requests
types-python-dateutil